<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Generate Summary</title>
</head>

<body>

    <form action="/receipt/summary-report" method="POST">
        <p>
            <label for="fromDate">From Date: </label>
            <input type="date" name="fromDate" id="fromDate" required>
        </p>

        <p>
            <label for="toDate">To Date: </label>
            <input type="date" name="toDate" id="toDate" required>
        </p>
        <button type="submit">Go</button>
    </form>
    <h2><a href="/receipt/reports">Reports Home</a></h2>
    <h2><a href="/admin/home">Admin Home</a></h2>

    <footer>
            <div style="text-align: center;">
                    <p>Developed by <a href="https://octointernet.com">Nishadh Amonkar</a> and Tanay Amonkar<br>
                        <a href="mailto:marutimandirdavorlim@gmail.com">Email Us</a></p>
            </div>
           
          </footer>
</body>

</html>