<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reports Home</title>
</head>

<body>
    <h2><a href="/receipt/detailed-report">View Detailed Report</a></h2>
    <h2><a href="/receipt/summary-report">View Summary Report</a></h2>
    <h2><a href="/admin/login">Admin Home</a></h2>
    <footer>
            <div style="text-align: center;">
                    <p>Developed by <a href="https://octointernet.com">Nishadh Amonkar</a> and Tanay Amonkar<br>
                        <a href="mailto:marutimandirdavorlim@gmail.com">Email Us</a></p>
            </div>
           
          </footer>

</body>

</html>