<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shree Maruti Mandir Temple Trust Terms and Conditions</title>
</head>
<body>
    <h2>Terms and Conditions to change as per SOPs of Government of Goa</h2>
    <img src="/img/rules.png" alt="Terms and Conditions">
    
</body>
</html>