<html>
<style>
  .req .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
</style>


<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->


    <ul class="sidebar-menu">
      <li class="header">NAVIGATION</li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user req"></i> <span>Bookings</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/admin/home"><i class="fa fa-street-view"></i> View Bookings</a></li>
          <li class="active"><a href="/admin/block_bookings"><i class="fa fa-plus"></i> Block New Booking</a></li>
          <li class="active"><a href="/admin/view_blocked_bookings"><i class="fa fa-street-view"></i>Date Blocking
              Requests</a>
          </li>
        </ul>

      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user req"></i> <span>Approval History</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/admin/view_approvals"><i class="fa fa-street-view"></i>View Approval History</a>
          </li>
          <li class="active"><a href="/admin/view_my_approvals"><i class="fa fa-street-view"></i>View My Approvals</a>
          </li>
        </ul>

      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-user req"></i> <span>Admin</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="/admin/view_approvals"><i class="fa fa-street-view"></i>View Admin/Trustee</a>
          </li>
          <li class="active"><a href="/admin/view_approvals"><i class="fa fa-street-view"></i>Create Admin/Trustee</a>
          </li>
        </ul>

      </li>

    </ul>
  </section>





</aside>

</html>